/*Progress bar style*/

#rta .ui-progressbar {
    position: relative;
}

body #rta .ui-progressbar .ui-progressbar-value.ui-widget-header {
    background: #34e749;
    background-color: #34e749;
    position: relative;
}

#rta .ui-progressbar .progress-label {
    position: absolute;
    left: 50%;
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
    z-index: 10;
}


/*information section*/

#rta .info {
    padding: 20px 0;
    line-height: 24px;
}

#rta .info span {
    font-weight: bold;
    font-size: 18px;
}


/*Errors style*/

#rta .errors, #rta .logstatus {
    float: left;
    width: 96%;
    padding: 10px;
    margin: 0px 1% 0 0;
    text-align: left;
}

#rta .errors div {
    margin: 10px;
    padding: 5px 0 5px 10px;
}

#rta .errors div b {
    font-size: 16px;
}

#rta .errors div.ui-state-error {
    background: #cd0a0a;
}

#rta .hidden {
    display: none;
}

#rta #no-js h1 {
    color: red;
    text-align: center;
    margin: 140px 0 100px 0;
}

#rta .wrap {
    float: left;
    width: 46%;
}
.rtaPopup{
  background:#000;
  position: fixed;
  color:#FFF;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
  opacity: 0.8;

  /*Flexbox */
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}


.rtaPopup .child{
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}
#rta .tutorial{
  margin:20px 0 0 0;
  float:left;
  width:100%;
}
