/*Progress bar style*/
#rta .ui-progressbar{
    position:relative;
}
#rta .ui-progressbar .ui-progressbar-value.ui-widget-header{
    background-color: #34e749;
    position:relative;
}
#rta .ui-progressbar .progress-label {
    position: absolute;
    left: 50%;
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
    z-index: 10;
}
/*information section*/
#rta .info{
    padding:20px 0;
    line-height: 24px;
}
#rta .info span{
    font-weight: bold;
    font-size: 18px;
}
/*Errors style*/
#rta .errors,
#rta .logstatus{
    float:left;
    width:46%;
    padding:10px;
    margin:0px 1% 0 0;
    text-align: left;
}
#rta .errors div{
    margin:10px;
    padding:5px 0 5px 10px;
}
#rta .errors div b{
    font-size: 16px;
}
#rta .errors div.ui-state-error{
    background:#cd0a0a;
}
#rta .hidden{
    display:none;
}
#rta #no-js h1{
    color:red;
    text-align: center;
    margin:140px 0 100px 0;
}